.card {
  width: 252px;
  height: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 10px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
  transition: transform 0.3s;
}
.card-list{
  margin-left: 70px;
  display: flex;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.color-card {
  width: 252px;
  height: 352px;
  margin: 10px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: blue; */
  border: solid black 5px;
}
.button{
  width: 110px;
  height: 50px;
  margin-left: 850px;
  margin-top: 300px;
}